<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngelBot - Discord Bot</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://use.fontawesome.com/234a6758c2.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://angelbot.vertinext.com">AngelBot</a>
            </div>
        </div>
    </nav>
      
    <div class="container text-center block-center">
        <div class="row">
            <div class="jumbotron col-md-4 col-md-offset-4 hidden-xs hidden-sm">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="AngelBot Avatar" class="img-circle">
            </div>
            <div class="jumbotron col-xs-12 hidden-md hidden-lg">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="AngelBot Avatar" class="img-circle">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <i class="fa fa-cogs fa-2x" aria-hidden="true">&nbsp;Features</i>
                </div>
            </div>
        </div>
        <div class="row feature">
            <div class="col-xs-12 hidden-md hidden-lg">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>AngelBot has one goal. External Services. It does that really well. Want to interface with Anilist on Discord? AngelBot is your bot.</td>
                        </tr>
                        <tr>
                            <td>Want to use it with other bots? That's okay too. We can dig it. The command prefix for AngelBot can be anything.  AngelBot is robo friendly.</td>
                        </tr>
                        <tr>
                            <td>AngelBot has per guild settings. Additionally, each command set can be locked to specific channels in your guild if you like.</td>
                        </tr>
                        <tr>
                            <td>AngelBot has a flexible configuration system. You can control channel locks through AngelBot or by simply restricting what channels AngelBot can hear.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8 hidden-xs hidden-sm">
                AngelBot has one goal. External Services. It does that really well. Want to interface with Anilist on Discord? AngelBot is your bot.
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <i class="fa fa-external-link fa-2x"></i>
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-4 hidden-xs hidden-sm">
                <i class="fa fa-users fa-2x"></i>
            </div>
            <div class="col-md-8 hidden-xs hidden-sm">
                Want to use it with other bots? That's okay too. We can dig it. The command prefix for AngelBot can be anything.  AngelBot is robo friendly.
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-8 hidden-xs hidden-sm">
                AngelBot has per guild settings. Additionally, each command set can be locked to specific channels in your guild if you like.
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <i class="fa fa-wrench fa-2x"></i>
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-4 hidden-xs hidden-sm">
                <i class="fa fa-lock fa-2x"></i>
            </div>
            <div class="col-md-8 hidden-xs hidden-sm">
                AngelBot has a flexible configuration system. You can control channel locks through AngelBot or by simply restricting what channels AngelBot can hear.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <i class="fa fa-code fa-2x">&nbsp;Commands Preview</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr class="info" style="color: black;">
                            <td>Command</td>
                            <td>Purpose</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>auser</td>
                            <td>Get the AniList profile of yourself or any other user!</td>
                        </tr>
                        <tr>
                            <td>aanime</td>
                            <td>Pull the details of any Anime!</td>
                        </tr>
                        <tr>
                            <td>amanga</td>
                            <td>But what if I like Manga? Well pull those details too!</td>
                        </tr>
                        <tr>
                            <td>acurrent</td>
                            <td>Get a list of the top 10 most popular currently airing anime.</td>
                        </tr>
                        <tr>
                            <td>And More...</td>
                            <td>New Commands are added often.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <tr class="info" style="color:black;">
                        <th>Command</th>
                        <th>Purpose</th>
                    </tr>
                    <tr>
                        <td>search</td>
                        <td>Looking for the name of that item that you only know that one word to? No worries.</td>
                    </tr>
                    <tr>
                        <td>Categorical Commands</td>
                        <td>Want to know where to start the quest Original Sins? How to make Yew Lumber? Yeah we got you.</td>
                    </tr>
                    <tr>
                        <td>Materials and Gathering</td>
                        <td>But wait, I need Yew Logs for that. Don't worry, We can tell you where those are too.</td>
                    </tr>
                    <tr>
                        <td>What about...</td>
                        <td>We got you bro. Anything with information worth parsing has a command. Even status effects.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <tr class="info" style="color:black;">
                        <th>Command</th>
                        <th>Purpose</th>
                    </tr>
                    <tr>
                        <td>XKCD</td>
                        <td>Pull current or specific XKCD comic.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <i class="fa fa-list fa-2x">&nbsp;Stats</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Servers</th>
                            <th>Users</th>
                            <th>Uptime</th>
                            <th>Commands</th>
                            <th>Commands a Second</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{servers}}</td>
                            <td>{{users}}</td>
                            <td><span id="humanize">Loading...</span></td>
                            <td>{{commands}}</td>
                            <td>{{cmdssec}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default footer">
                <div class="panel-heading">Page made using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://fontawesome.io/">Font Awesome</a> by Charles Click 2016.</div>
                <div class="panel-body">
                    <div class="col-xs-12 col-md-4">
                        <h4>Add AngelBot to your server now!</h4>
                        <p><a class="btn btn-default btn-primary" href="https://discordapp.com/oauth2/authorize?&client_id=168925464591728640&scope=bot&permissions=0"><i class="fa fa-add fa-2x pull-left">Add Me</i></a></p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h4>Development and Support</h4>
                        <div class="panel panel-default">
                            <div class="panel-heading">AngelBot Development</div>
                            <div class="panel-body">
                                <p>Having an issue? Report dat issue:<br/><a href="https://github.com/ccubed/AngelBot/Issues"><i class="fa fa-github">&nbsp;AngelBot Issues</i></a></p>
                                <p>Curious what's going on with development? Waffle it bro!<br/><a href="https://waffle.io/ccubed/AngelBot"><i class="fa fa-calendar">&nbsp;AngelBot Waffel.io</i></a></p>
                                <p>Want to get that source code? We can dig it.<br/><a href="https://github.com/ccubed/AngelBot"><i class="fa fa-code">&nbsp;AngelBot Source</i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h4>Join the AngelBot Discord Server</h4>
                        <iframe src="https://discordapp.com/widget?id=169602212769562626&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript">
        <!--
        seconds = {{uptime}};
        document.getElementById("humanize").innerHTML = moment.duration(seconds, 'seconds').humanize();
        -->
    </script>
  </body>
</html>